<div id="elsa">
  <div class="fields topP katt">
    <h2>Elsa</h2><img src="img/elsa.jpg">
    <div class="piclink"><a href="https://sv.wikipedia.org/wiki/Energi">För mer information om det
      som saknas</a></div><img class="katt imgleft" src="img/elsa1.jpg">
    <p>Skåda familjens primadonna och flockens obestridbara drottning. När hon införskaffades kort efter
      jag och Sofia träffats var hon ett riktigt vilddjur vilket fortfarande kan märkas när hon glömmer av sin ålder
      på hela 17 år!</p>

    <p>De tre katterna är födda och inflyttade under olika tidsepoker och har ett antal år mellan sig.
      För att få veta mer om deras personligheter och se bilder på dem väljer du en av länkarna i menyn till höger.
    </p>
  </div>
</div>
