<div id="tuva">
  <div class="fields topP katt">
    <h2>Tuva</h2><img src="img/tuva.jpg">
    <div class="piclink"><a href="https://sv.wikipedia.org/wiki/R%C3%A4dsla">För mer information om det
      som saknas</a></div><img class="katt imgleft" id="tuvaleft" src="img/tuvatumlare.jpg">
    <p>Skåda flockens yngsta deltagare. Detta vildjur är lika gosigt som vildsint och ser till att både familjen och
      kattflocken ständigt har problem att lösa.
      Oavsett om det det är på grund av bakhåll vid matskålen när de andra minst anar det eller att huset är fullt
      med dun från bofinkar när man stiger upp på morognen är Tuva ständigt i centrum.
    </p>
    <p>Tuva plockar ständigt in villebråd som med glädje slaktas och sprids ut över huset. Favoritplatsen för
      slutförvaring är under barnens sängar på övervåningen där bytet gärna läggs i låda för leksaker eller under en
      matta.</p>
    <p>Tuva är flockens enda raskatt med en blandning av norsk skogskatt och mainecoon. Dessa raser har en förkärlek
      för höga höjder vilket gör att hon ofta kan ses på granskapets tak där hon gärna plockar med sig en duva eller
      ekorre på vägen ner.</p>
    <p></p>
  </div>
</div>
