<div class="login" id="main">
  <form>
    <p>Vänligen välj ett användarnamn och lösenord</p>
    <label for="reganv">Användarnamn:</label><br>
    <input type="text" id="reganv" name="reganv" placeholder="Användarnamn..."><br>
    <label>Lösenord:</label><br>
    <input type="password" id="regpass" name="regpass" placeholder="(8 tecken, 2 versal 1 siffra)"><br>
    <label>Lösenord igen:</label><br>
    <input type="password" id="regpassrep" name="regpassrep" placeholder="Samma som ovan"><br>
    <input type="button" value="registrera">
  </form>
  <br>
  <p class="svar" id="regsvar">--||--</p>
</div>
