    <div id="välkommen">
      <div class="fields topP katt">
        <h2>Katter är fantastiska</h2><img class="katt imgleft" src="img/allakatter1.jpg">
        <p>På denna sida finner du information om tre håriga varelser som lever i mitt hem. Dessa lurviga vidunder har
          olika karaktärsdrag och fasoner som gör att vårt liv tillsammans ständigt fylls av nöje och spänning.</p>
        <p>De tre katterna är födda och inflyttade under olika tidsepoker och har ett antal år mellan sig.
          För att få veta mer om deras personligheter och se bilder på dem väljer du en av länkarna i menyn till höger.
        </p>
      </div>
      <div class="fields midP katt">
        <h2>Den lilla flocken</h2><img id="kattäta" class="katt imgright" src="img/allakatter2.jpg">
        <p>Den lilla kattflocken är oftast till freds med varandra och samexisterar i hemmet i god ro. De har alla sin
          favoritplats och kommer sällan i luven på varandra. Det finns såklart en inbördes rangordning och det kan du
          läsa
          mer om i avsnittet om varje katt.</p>
        <p>På bilden här kan ses hela flocken vid vattenhålet. De äter ofta tillsammans och endast om någon är på
          osedvanligt dåligt
          humör uppstår bråk vid maten. Maten består av billigast möjliga torrfoder som kompletteras med de olycksaliga
          smådjur som
          lever i en 200m area runt huset.
        </p>
        <p>Utan dessa katter vore huset mycket tomt och även fullt av möss. Katterna är en självklar dela av
          familjen och sover oftast i eller under någon av familjens sängar varje natt.

          På wikipedai kan läsas om katter och hur de varit en dela av människans hem sedan urtider tillbaka:</p>
        <p><em>Tidigare ansågs egyptierna vara den kultur som längst har haft katten som tamdjur, eftersom katten hölls
            som
            heligt djur där.
            Den äldsta kända kattgraven återfanns emellertid på Cypern år 2004, och kan vara 9 500 år gammal, vilket är
            äldre än den neolitiska kultur som uppstod i
            Egypten för 8 000 år sedan. En DNA-studie utförd 2007 av National Cancer Institute pekar mot att alla
            världens
            tamkatter härstammar från en grupp afrikanska vildkatter (falbkatter) som levde i Främre Orienten för mellan
            9
            000 och 10 000 år sedan. Jordbruket utvecklades vid denna tid i Mellanöstern, och katten anses ha blivit
            domesticerad i området för att den lockades av råttor och möss i spannmålsförråd,
            och för att människor behövde hjälp att hålla efter dessa skadedjur. Tamkatten förmodas ha spridits snabbt
            över Bördiga halvmånen, inklusive Cypern och Egypten.</em></p>
      </div>
    </div>
