
<html>

<head>
  <meta name="author">
  <title>Viktors Hemsida-katter</title>
</head>
<div class="högerkant"></div>
<div class="nederkant"><marquee behavior="alternate" scrollamount = "5"><code id="pil"><-- Meny</code></marquee></div>

<body>
  <header class="överskrift" class="överskrift">
    <img src="svg/masthead.svg">
  </header>

  <div id="main">
    <div id="välkommen">
      <div class="fields topP katt">
        <h2>Katter är fantastiska</h2><img class="katt imgleft" src="img/allakatter1.jpg">
        <p>På denna sida finner du information om tre håriga varelser som lever i mitt hem. Dessa lurviga vidunder har
          olika karaktärsdrag och fasoner som gör att vårt liv tillsammans ständigt fylls av nöje och spänning.</p>
        <p>De tre katterna är födda och inflyttade under olika tidsepoker och har ett antal år mellan sig.
          För att få veta mer om deras personligheter och se bilder på dem väljer du en av länkarna i menyn till höger.
        </p>
      </div>
      <div class="fields midP katt">
        <h2>Den lilla flocken</h2><img id="kattäta" class="katt imgright" src="img/allakatter2.jpg">
        <p>Den lilla kattflocken är oftast till freds med varandra och samexisterar i hemmet i god ro. De har alla sin
          favoritplats och kommer sällan i luven på varandra. Det finns såklart en inbördes rangordning och det kan du
          läsa
          mer om i avsnittet om varje katt.</p>
        <p>På bilden här kan ses hela flocken vid vattenhålet. De äter ofta tillsammans och endast om någon är på
          osedvanligt dåligt
          humör uppstår bråk vid maten. Maten består av billigast möjliga torrfoder som kompletteras med de olycksaliga
          smådjur som
          lever i en 200m area runt huset.
        </p>
        <p>Utan dessa katter vore huset mycket tomt och även fullt av möss. Katterna är en självklar dela av
          familjen och sover oftast i eller under någon av familjens sängar varje natt.

          På wikipedai kan läsas om katter och hur de varit en dela av människans hem sedan urtider tillbaka:</p>
        <p><em>Tidigare ansågs egyptierna vara den kultur som längst har haft katten som tamdjur, eftersom katten hölls
            som
            heligt djur där.
            Den äldsta kända kattgraven återfanns emellertid på Cypern år 2004, och kan vara 9 500 år gammal, vilket är
            äldre än den neolitiska kultur som uppstod i
            Egypten för 8 000 år sedan. En DNA-studie utförd 2007 av National Cancer Institute pekar mot att alla
            världens
            tamkatter härstammar från en grupp afrikanska vildkatter (falbkatter) som levde i Främre Orienten för mellan
            9
            000 och 10 000 år sedan. Jordbruket utvecklades vid denna tid i Mellanöstern, och katten anses ha blivit
            domesticerad i området för att den lockades av råttor och möss i spannmålsförråd,
            och för att människor behövde hjälp att hålla efter dessa skadedjur. Tamkatten förmodas ha spridits snabbt
            över Bördiga halvmånen, inklusive Cypern och Egypten.</em></p>
      </div>
    </div>

    <div id="elsa">
      <div class="fields topP katt">
        <h2>Elsa</h2><img src="img/elsa.jpg">
        <div class="piclink"><a href="https://sv.wikipedia.org/wiki/Energi">För mer information om det
            som saknas</a></div><img class="katt imgleft" src="img/elsa1.jpg">
        <p>Skåda familjens primadonna och flockens obestridbara drottning. När hon införskaffades kort efter
          jag och Sofia träffats var hon ett riktigt vilddjur vilket fortfarande kan märkas när hon glömmer av sin ålder
          på hela 17 år!</p>

        <p>De tre katterna är födda och inflyttade under olika tidsepoker och har ett antal år mellan sig.
          För att få veta mer om deras personligheter och se bilder på dem väljer du en av länkarna i menyn till höger.
        </p>
      </div>
    </div>

    <div id="hugo">
      <div class="fields topP katt">
        <h2>Hugo</h2><img src="img/hugo.jpg">
        <div class="piclink"><a href="https://sv.wikipedia.org/wiki/Intelligens">För mer information om det
            som saknas</a></div>
        <p>Skåda Den möjligtvis dummaste katten som någonsin fötts. Under Hugos snart 15 år har han orsakat fler
          olyckor, skador på sig själv och andra än någon anna katt i historien.
          Denna gamla krigare har haft fler besök hos vetrinären än vad ens de hade mage att ta betalt för. Ibland så
          tätt inpå varandra att självrisken fortfarande gällde.</p>
        <p>Nu på ålderns höst ligger han mest på sin plats bakom någon av husets datorskärmar där han njuter av
          strålningen. När inspirationen slår till drar han gärna in ett eller annat djur som han med stor glädje
          sväljer helt med både päls och fjädrar.
        </p>
      </div>
      <div class="fields midP katt"><img class="katt imgright" src="img/koltrast.jpg">
        <p>Till höger kan ses den koltrast jag fann i trappen vid hemkommande från Växjö i förra veckan. Denna gång
          måste inspirationen tagit slut innan fågeln slukats. De först ägarna av Hugo sålde honom då deras hundvalp
          vägrat sluta bära runt honom i huvudet.
          Detta eller hans otaliga fall ut ut fönster, träd osv skulle kunna förklara hans begränsade intelligens.
        </p>
      </div>
    </div>
    <div id="tuva">
      <div class="fields topP katt">
        <h2>Tuva</h2><img src="img/tuva.jpg">
        <div class="piclink"><a href="https://sv.wikipedia.org/wiki/R%C3%A4dsla">För mer information om det
            som saknas</a></div><img class="katt imgleft" id="tuvaleft" src="img/tuvatumlare.jpg">
        <p>Skåda flockens yngsta deltagare. Detta vildjur är lika gosigt som vildsint och ser till att både familjen och
          kattflocken ständigt har problem att lösa.
          Oavsett om det det är på grund av bakhåll vid matskålen när de andra minst anar det eller att huset är fullt
          med dun från bofinkar när man stiger upp på morognen är Tuva ständigt i centrum.
        </p>
        <p>Tuva plockar ständigt in villebråd som med glädje slaktas och sprids ut över huset. Favoritplatsen för
          slutförvaring är under barnens sängar på övervåningen där bytet gärna läggs i låda för leksaker eller under en
          matta.</p>
        <p>Tuva är flockens enda raskatt med en blandning av norsk skogskatt och mainecoon. Dessa raser har en förkärlek
          för höga höjder vilket gör att hon ofta kan ses på granskapets tak där hon gärna plockar med sig en duva eller
          ekorre på vägen ner.</p>
        <p></p>
      </div>
    </div>
  </div>


  <!--sidonavigeringsfältet-->
  <div class="menyskugga" onmouseenter="openNav()"></div>>
  <div id="mySidenav" class="sidenav" onmouseleave="closeNav()">
    <p class="sidenavtop" class="link" onclick="showField('välkommen','hugo','tuva','elsa')"><img src="svg/katterna.svg"></p>
    <p class="link" onclick="showField('elsa','hugo','tuva','välkommen')"><img src="svg/elsa.svg"></p>
    <p class="link" onclick="showField('hugo','elsa','tuva','välkommen')"><img src="svg/hugo.svg"></p>
    <p class="link" onclick="showField('tuva','hugo','elsa','välkommen')"><img src="svg/tuva.svg"></p>
    <a class="sidenavtop" href="landning.html"><img src="svg/hem.svg"></a>
    <a href="mig.html"><img src="svg/ommig.svg"></a>
    <a href="brädspel.html"><img src="svg/brädspel.svg"></a>
    <a href="kontakt.html"><img src="svg/kontakt.svg"></a>
    <a id="sidenavlowbot" href="index.html"><img src="svg/loggaut.svg"></a>
  </div>
</body>

</html>
