
<div class="login" id="main">
  <div class="fields" id="välkommen">
    <h2>Välkommen till min hemsida</h2>
    <p>Här finner du information som jag valt att delge på denna magiska plats. Vad kan det vara tänker du?
      Jo det får endast den som registrerar sig som användare och loggar in reda på. För att dölja denna
      text och visa registrering eller inloggningfälten välj i menyn till vänster.</p>
    <img id="struts" src="../assets/img/struts.jpg"><br>
    <div class="piclink"><a href="https://sv.wikipedia.org/wiki/Musculus_longus_capitis">För mer information om det
      som saknas</a>
    </div>
  </div>
