<header class="överskrift" class="överskrift">
  <img src="assets/svg/masthead.svg" >
</header>
<div class="menyskugga" (mouseover)="openNav()"></div>>
<div class="högerkant"></div>
<div class="nederkant"><marquee behavior="alternate" scrollamount = "5"><code id="pil"><-- Meny</code></marquee></div>
<app-sidenav>
</app-sidenav>
<router-outlet>
</router-outlet>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

