<div id="mySidenav" class="sidenav" (mouseleave)="closeNav()">
  <p class="link" id="sidenavtop" (click)="showField('login','register','välkommen','kontakta')"><img src="../assets/svg/logga in.svg" ></p>
  <p class="link" (click)="showField('register','login','välkommen','kontakta')"><img src="../assets/svg/registrera.svg"></p>
  <p class="link" (click)="showField('välkommen','login','register','kontakta')"><img src="../assets/svg/välkommen.svg"> </p>
  <p class="link" (click)="showField('kontakta','login','välkommen','register')"><img src="../assets/svg/kontakt.svg"> </p>
</div>
